*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    color-scheme: dark;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;

}
.main{
    display: flex;
    align-items: center;
    top: 20vh;
    position: relative;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    width: 90vw;
    height: 60vh;
}
.vp1{
    width: 200px;
    height: 200px;
    background-color: rgb(83, 83, 83);
    overflow: hidden;
    margin: 9px;
    display: flex;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
    transition: 0.3s;
    color: black;
}
a:hover{
    color: white;
}
a:focus{
    color: white;
}